<h1>Mini Urls</h1>

<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th>Original Url</th>
      <th>Short Url</th>
      <th>Url Expires</th>
      <th>Url Usage Rate</th>
      <th>Created By</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr class="table-light">
        <td><%= url.original_url %></td>
        <td><a href="/urls/<%= url.url_slug %>" target="_blank"><%= url.short_url %></a></td>
        <td> <%= url.url_expiration.strftime("%B %-d, %Y") %></td>
        <td> <%= url.url_usage %> </a></td>
        <td><%= url.created_by %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

