<p id="notice"><%= notice %></p>

<h1>Minified Urls</h1>

<table>
  <thead>
    <tr>
      <th>Original Url</th>
      <th>Short Url</th>
      <th>Url Expires</th>
      <th>Url Usage Rate</th>
      <th>Created By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.original_url %></td>
        <td><%= url.short_url %></td>
        <td><%= url.url_expiration %></td>
        <td><%= url.url_usage %></td>
        <td><%= url.created_by %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
